<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
	<div
		class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
		<div class="mb-2 mb-md-0">
			©
			<script>
				document.write(new Date().getFullYear());
			</script>
			, made with ❤️ by
			<a
				href="https://awatarapublisher.com/"
				target="_blank"
				class="footer-link fw-bolder"
				>AWATARA</a
			>
			<span class="ms-2">| Versi <strong>1.2.1</strong></span>
		</div>
		<div>
			<a
				href="{{ url_for('license') }}"
				class="footer-link me-4"
				>License</a
			>
			<a
				href="https://api.whatsapp.com/send/?phone=6282318051564&text=%22Butuh%20bantuan%20terkait%20aplikasi%20DataCraft%22&type=phone_number&app_absent=0"
				target="_blank"
				class="footer-link me-4"
				>Support</a
			>
		</div>
	</div>
</footer>
<!-- / Footer -->