<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="{{ url_for('index') }}" class="app-brand-link">
			<span class="app-brand-logo demo">
				<img src="../../static/img/DataCraft.png" alt="" width="40" draggable="false">
			</span>
			<span class="app-brand-text demo fw-bolder ms-2">
        <span class="color-custom-primary">Data</span><span class="color-custom-secondary">Craft</span>
      </span>
		</a>

		<a
			href="javascript:void(0);"
			class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item {% if request.path == url_for('index') %}active{% endif %}">
			<a href="{{ url_for('index') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>

		<!-- Tentang Aplikasi -->
		<li class="menu-item {% if request.path == url_for('about') %}active{% endif %}">
			<a href="{{ url_for('about') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-info-circle"></i>
				<div data-i18n="Tentang Aplikasi">Tentang Aplikasi</div>
			</a>
		</li>		

		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">Proses Data Mining</span>
		</li>

		<!-- Eksplorasi Data -->
		<li class="menu-item {% if url_for('data_exploration') in request.path %}active{% endif %}">
			<a href="{{ url_for('data_exploration') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-data"></i>
				<div data-i18n="Eksplorasi Data">Eksplorasi Data</div>
			</a>
		</li>

		<!-- Pra-Pemrosesan -->
		<li class="menu-item {% if url_for('preprocessing') in request.path %}active{% endif %}">
			<a href="{{ url_for('preprocessing') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-wrench"></i>
				<div data-i18n="Pra-Pemrosesan">Pra-Pemrosesan</div>
			</a>
		</li>

		<!-- Pemodelan -->
		<li class="menu-item {% if url_for('naive_bayes_model') in request.path or url_for('svm_model') in request.path or url_for('evaluation_model') in request.path or url_for('compare_model') in request.path %}active open{% endif %}">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-network-chart"></i>
				<div data-i18n="Pemodelan">Pemodelan</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item {% if request.path == url_for('naive_bayes_model') %}active{% endif %}">
					<a href="{{ url_for('naive_bayes_model') }}" class="menu-link">
						<div data-i18n="Model Naive Bayes">Model Naive Bayes</div>
					</a>
				</li>
				<li class="menu-item {% if request.path == url_for('svm_model') %}active{% endif %}">
					<a href="{{ url_for('svm_model') }}" class="menu-link">
						<div data-i18n="Model SVM">Model SVM</div>
					</a>
				</li>
				<li class="menu-item {% if request.path == url_for('evaluation_model') %}active{% endif %}">
					<a href="{{ url_for('evaluation_model') }}" class="menu-link">
						<div data-i18n="Evaluasi Model">Evaluasi Model</div>
					</a>
				</li>
				<li class="menu-item {% if request.path == url_for('compare_model') %}active{% endif %}">
					<a href="{{ url_for('compare_model') }}" class="menu-link">
						<div data-i18n="Perbandingan Model">Perbandingan Model</div>
					</a>
				</li>
			</ul>
		</li>

		<!-- Optimalisasi Model -->
		<!-- <li class="menu-item {% if url_for('compare_model') in request.path %}active open{% endif %}">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-sort-up"></i>
				<div data-i18n="Optimalisasi Model">Optimalisasi Model</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item">
					<a href="{{ url_for('index') }}" class="menu-link" data-bs-toggle="collapse" data-bs-target="#optimizeNaiveBayes" aria-expanded="false">
						<div data-i18n="Optimisasi Naive Bayes">Optimisasi Naive Bayes</div>
					</a>
					<ul id="optimizeNaiveBayes" class="collapse nav ms-3">
							<li><a href="#naiveInitialTraining" class="nav-link text-dark">Melatih Model Awal</a></li>
							<li><a href="#naiveInitialEvaluation" class="nav-link text-dark">Evaluasi Model Awal</a></li>
							<li><a href="#naiveRetraining" class="nav-link text-dark">Melatih Ulang Model</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="{{ url_for('index') }}" class="menu-link" data-bs-toggle="collapse" data-bs-target="#optimizeSVM" aria-expanded="false">
						<div data-i18n="Optimisasi SVM">Optimisasi SVM</div>
					</a>
					<ul id="optimizeSVM" class="collapse nav ms-3">
							<li><a href="#svmInitialTraining" class="nav-link text-dark">Melatih Model Awal</a></li>
							<li><a href="#svmInitialEvaluation" class="nav-link text-dark">Evaluasi Model Awal</a></li>
							<li><a href="#svmRetraining" class="nav-link text-dark">Melatih Ulang Model</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="{{ url_for('index') }}" class="menu-link">
						<div data-i18n="Perbandingan Hasil">Perbandingan Hasil</div>
					</a>
				</li>
			</ul>
		</li> -->

		<!-- Evaluasi -->
		<!-- <li class="menu-item {% if url_for('compare_model') in request.path %}active open{% endif %}">
			<a href="javascript:void(0);" class="menu-link menu-toggle">
				<i class="menu-icon tf-icons bx bx-line-chart"></i>
				<div data-i18n="Evaluasi">Evaluasi</div>
			</a>

			<ul class="menu-sub">
				<li class="menu-item  {% if request.path == url_for('index') %}active{% endif %}">
					<a href="{{ url_for('index') }}" class="menu-link">
						<div data-i18n="Tentang Aplikasi">Tentang Aplikasi</div>
					</a>
				</li>
			</ul>
		</li> -->
		
		<!-- Interpretasi Hasil -->
		<li class="menu-item {% if url_for('compare_model') in request.path %}active{% endif %}">
			<a href="" class="menu-link">
				<i class="menu-icon tf-icons bx bx-file-find"></i>
				<div data-i18n="Interpretasi Hasil">Interpretasi Hasil</div>
			</a>
		</li>
	</ul>
</aside>
<!-- / Menu -->
