<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
	<div class="app-brand demo">
		<a href="{{ url_for('index') }}" class="app-brand-link">
			<span class="app-brand-logo demo">
				<img src="../../static/img/DataCraft.png" alt="" width="40" draggable="false">
			</span>
			<span class="app-brand-text demo fw-bolder ms-2">
        <span class="color-custom-primary">Data</span><span class="color-custom-secondary">Craft</span>
      </span>
		</a>

		<a
			href="javascript:void(0);"
			class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
			<i class="bx bx-chevron-left bx-sm align-middle"></i>
		</a>
	</div>

	<div class="menu-inner-shadow"></div>

	<ul class="menu-inner py-1">
		<!-- Dashboard -->
		<li class="menu-item {% if request.path == url_for('index') %}active{% endif %}">
			<a href="{{ url_for('index') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-home-circle"></i>
				<div data-i18n="Analytics">Dashboard</div>
			</a>
		</li>

		<!-- Tentang Aplikasi -->
		<li class="menu-item {% if request.path == url_for('about') %}active{% endif %}">
			<a href="{{ url_for('about') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-info-circle"></i>
				<div data-i18n="Tentang Aplikasi">Tentang Aplikasi</div>
			</a>
		</li>		

		<li class="menu-header small text-uppercase">
			<span class="menu-header-text">Proses Data Mining</span>
		</li>

		<!-- Eksplorasi Data -->
		<li class="menu-item {% if url_for('data_exploration') in request.path %}active{% endif %}">
			<a href="{{ url_for('data_exploration') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-data"></i>
				<div data-i18n="Eksplorasi Data">Eksplorasi Data</div>
			</a>
		</li>

		<!-- Pra-Pemrosesan -->
		<li class="menu-item {% if url_for('preprocessing') in request.path %}active{% endif %}">
			<a href="{{ url_for('preprocessing') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-wrench"></i>
				<div data-i18n="Pra-Pemrosesan">Pra-Pemrosesan</div>
			</a>
		</li>

		<!-- Pemodelan Data -->
		<li class="menu-item {% if url_for('modeling') in request.path %}active{% endif %}">
			<a href="{{ url_for('modeling') }}" class="menu-link">
				<i class="menu-icon tf-icons bx bx-network-chart"></i>
				<div data-i18n="Pemodelan Data">Pemodelan Data</div>
			</a>
		</li>
		
		<!-- Interpretasi Hasil -->
		<li class="menu-item {% if url_for('compare_model') in request.path %}active{% endif %}">
			<a href="" class="menu-link">
				<i class="menu-icon tf-icons bx bx-file-find"></i>
				<div data-i18n="Interpretasi Hasil">Interpretasi Hasil</div>
			</a>
		</li>
	</ul>
</aside>
<!-- / Menu -->
