{% extends 'base.html' %}

{% block content %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="fw-bold mb-4">
    <span class="text-muted fw-light">DataCraft / </span>
    <span class="color-custom-secondary">{{ title }}</span>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow-sm">
        <h5 class="card-header">Tentang Aplikasi</h5>
        <div class="card-body">
          <div class="row justify-content-center justify-content-md-start mb-4">
            <div class="col-6 col-md-4 col-lg-2">
              <img class="img-fluid" src="../static/img/DataCraft.png" alt="Logo DataCraft">
            </div>
          </div>
          <p>
            <strong class="text-primary">DataCraft</strong> adalah aplikasi yang dirancang untuk memudahkan proses data mining. 
            Aplikasi ini memiliki beberapa fitur utama seperti:
          </p>
          <ul class="list-unstyled">
            <li class="mb-1">
              <i class="menu-icon tf-icons bx bx-data"></i>
              <strong>Eksplorasi Data</strong>,
              Menyediakan fitur untuk mengunggah dataset dan melakukan eksplorasi awal sebelum analisis lebih lanjut.
            </li>
            <li class="mb-1">
              <i class="menu-icon tf-icons bx bx-wrench"></i>
              <strong>Pra-Pemrosesan</strong>,
              Membersihkan dan mempersiapkan data secara otomatis untuk memastikan kualitas data yang optimal sebelum pemodelan.
            </li>
            <li class="mb-1">
              <i class="menu-icon tf-icons bx bx-network-chart"></i>
              <strong>Pemodelan Data</strong>,
              Melatih dan mengevaluasi model machine learning, seperti Naive Bayes dan SVM, untuk melakukan klasifikasi data.
            </li>
            <li class="mb-1">
              <i class="menu-icon tf-icons bx bx-file-find"></i>
              <strong>Interpretasi Hasil</strong>,
              Menganalisis performa model melalui metrik evaluasi dan visualisasi hasil untuk mendapatkan wawasan yang lebih mendalam.
            </li>
          </ul><br>
          <p>
            Dengan antarmuka yang sederhana dan fungsional, <strong class="text-primary">DataCraft</strong> membantu Anda untuk melakukan eksplorasi data dengan lebih cepat dan efisien.
          </p>
          <p class="m-0">
            Aplikasi ini dikembangkan oleh tim pengembang independen dengan tujuan memberikan solusi bagi peneliti, akademisi, dan praktisi di bidang data mining.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / Content -->
{% endblock %}
