{% extends 'base.html' %} {% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
	<div class="fw-bold mb-4">
		<span class="text-muted fw-light">DataCraft / </span>
		<span class="color-custom-secondary">{{ title }}</span>
	</div>

	<!-- Flash Messages -->
	{% with messages = get_flashed_messages(with_categories=true) %} {% if
	messages %} {% for category, message in messages %}
	<div
		class="alert alert-{{ category }} alert-dismissible fade show"
		role="alert">
		{{ message }}
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	{% endfor %} {% endif %} {% endwith %} {% if not
	all(preprocessing_status.values()) %}
	<!-- Tombol Mulai Pra-Pemrosesan -->
	<div
		class="alert alert-primary d-flex justify-content-between align-items-center"
		role="alert">
		<div>
			<i class="bx bx-cog bx-spin flex-shrink-0 me-1"></i>
			<span class="fw-bold">Pra-Pemrosesan Data</span>
		</div>
		<button
			id="start-preprocessing"
			class="btn btn-primary btn-sm ms-auto"
			{%
			if
			not
			dataset_uploaded
			%}disabled{%
			endif
			%}>
			Mulai
		</button>
	</div>
	{% endif %}

	<!-- Card Step -->
	<div class="row">
		<div class="col-12">
			<div class="container p-0 mb-4">
				<div class="flow-container">
					<div class="flow-row">
						<!-- Card Pembersihan -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}"
							id="cardAA"
							data-bs-toggle="collapse"
							data-bs-target="#collapseAA"
							aria-expanded="false"
							aria-controls="collapseAA">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Pembersihan'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Pembersihan</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Pembersihan'] if
									preprocessing_status['Pembersihan'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Pembersihan']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Normalisasi -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}"
							id="cardBB"
							data-bs-toggle="collapse"
							data-bs-target="#collapseBB"
							aria-expanded="false"
							aria-controls="collapseBB">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Normalisasi'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Normalisasi</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Normalisasi'] if
									preprocessing_status['Normalisasi'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Normalisasi']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Tokenisasi -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}"
							id="cardCC"
							data-bs-toggle="collapse"
							data-bs-target="#collapseCC"
							aria-expanded="false"
							aria-controls="collapseCC">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Tokenisasi'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Tokenisasi</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Tokenisasi'] if
									preprocessing_status['Tokenisasi'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Tokenisasi']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card No Stopwords -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}"
							id="cardDD"
							data-bs-toggle="collapse"
							data-bs-target="#collapseDD"
							aria-expanded="false"
							aria-controls="collapseDD">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['No Stopwords'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">No Stopwords</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['No Stopwords'] if
									preprocessing_status['No Stopwords'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['No Stopwords']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>
					</div>
					<!-- Vertical Connector -->
					<div class="vertical-connector">
						<svg
							width="100%"
							height="100%">
							<line
								x1="50%"
								y1="0"
								x2="50%"
								y2="100%" />
						</svg>
						<i class="bx bx-down-arrow-alt bx-md arrow-icon"></i>
					</div>
					<div class="flow-row">
						<!-- Card Stemming -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Stemming'] else 'danger' }}"
							id="cardEE"
							data-bs-toggle="collapse"
							data-bs-target="#collapseEE"
							aria-expanded="false"
							aria-controls="collapseEE">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Stemming'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Stemming'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Stemming</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Stemming'] if
									preprocessing_status['Stemming'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Stemming'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Stemming'] else
									'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Label Encoding -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}"
							id="cardFF"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFF"
							aria-expanded="false"
							aria-controls="collapseFF">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Label Encoding'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Label Encoding</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Label Encoding'] if
									preprocessing_status['Label Encoding'] else "Tidak ada file"
									}}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Label Encoding']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Pembagian -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}"
							id="cardGG"
							data-bs-toggle="collapse"
							data-bs-target="#collapseGG"
							aria-expanded="false"
							aria-controls="collapseGG">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Pembagian'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Pembagian</h3>
								<p class="card-text text-muted">
									{{ train_file if preprocessing_status['Pembagian'] else "Tidak ada file" }}<br>
									{{ test_file if preprocessing_status['Pembagian'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Pembagian'] else
									'Belum dilakukan' }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress Pra-Pemrosesan -->
	<div class="row">
		<div class="col-12 order-0">
			<!-- Collapse Pembersihan -->
			<div
				class="collapse"
				id="collapseAA">
				<div class="card">
					<h5 class="card-header">Pembersihan Data</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
						<div class="row">
							<!-- Informasi Dataset -->
							<div class="col-12 col-md-6">
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Informasi Dataset
								</div>
								<ul class="list-group ms-3">
									<li>
										<strong>Nama File Sebelum Pembersihan:</strong>
										dataset_0_raw.csv
									</li>
									<li>
										<strong>Nama File Setelah Pembersihan:</strong> 
										{{ preprocessing_files['Pembersihan'] }}
									</li>
									<li>
										<strong>Dimensi Dataset Sebelum Pembersihan:</strong>
										{{ data_shape_raw if data_shape_raw else "Tidak tersedia" }}
									</li>
									<li>
										<strong>Dimensi Dataset Setelah Pembersihan:</strong>
										{{ data_shape_cleaned }}
									</li>
									<li><strong>Dimensi Dataset:</strong> {{ data_shape_cleaned }}</li>
									<li><strong>Jumlah Duplikat:</strong> {{ duplicate_count_cleaned }}</li>
									<li><strong>Jumlah Nilai Kosong:</strong> {{ null_count_cleaned }}</li>
								</ul>
							</div>
							<!-- Metode Pembersihan -->
							<div class="col-12 col-md-6">
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Metode Pembersihan yang Digunakan
								</div>
								<ul class="list-group ms-3">
									{% for method in cleaning_methods or [] %}
											<li>{{ method }}</li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">{{ data_head_cleaned | safe }}</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Contoh Data Sebelum dan Sesudah Pembersihan
						</div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Sebelum Pembersihan</th>
									<th>Sesudah Pembersihan</th>
								</tr>
							</thead>
							<tbody>
								{% for sample in comparison_samples_cleaned %}
								<tr>
									<td>{{ sample["Sebelum"] }}</td>
									<td>{{ sample["Sesudah"] }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<hr />
						<!-- Perbandingan Sebelum & Sesudah Pembersihan -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
								Perbandingan Sebelum dan Sesudah Pembersihan
						</div>
						<div class="table table-responsive">
								{{ comparison_table_cleaned | safe }}
						</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_cleaned | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6 text-center">
								<!-- Visualisasi Distribusi Panjang Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Cleaned Tweet
								</div>
								<img
									src="{{ chart_path_cleaned }}"
									alt="Distribusi Panjang Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6 text-center">
								<!-- Visualisasi WordCloud Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tweet
								</div>
								<img
									src="{{ wordcloud_path_cleaned }}"
									alt="WordCloud Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Eksplorasi Data
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_cleaned }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse Normalisasi -->
			<div
				class="collapse"
				id="collapseBB">
				<div class="card">
					<h5 class="card-header">Normalisasi Data</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
						<!-- Informasi Dataset -->
            <div class="row">
								<div class="col-12 col-md-6">
									<div class="card-title fw-bold fs-5 text-primary mb-1">Informasi Dataset</div>
									<ul class="list-group ms-3">
										<li><strong>Nama File Sebelum Normalisasi:</strong> {{ preprocessing_files['Pembersihan'] }}</li>
										<li><strong>Nama File Setelah Normalisasi:</strong> {{ preprocessing_files['Normalisasi'] }}</li>
										<li><strong>Dimensi Dataset:</strong> {{ data_shape_normalized }}</li>
									</ul>
							</div>
							<!-- Metode Pembersihan -->
							<div class="col-12 col-md-6">
									<div class="card-title fw-bold fs-5 text-primary mb-1">Metode Normalisasi yang Digunakan</div>
									<ul class="list-group ms-3">
											<li>Mengubah semua teks menjadi huruf kecil (lowercase)</li>
											<li>Menghapus karakter selain huruf (A-Z, a-z) dan spasi</li>
											<li>Menghapus spasi berlebihan</li>
									</ul>
							</div>
						</div>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table-responsive">
							{{ data_head_normalized | safe }}
						</div>
						<hr />
						<!-- Contoh Sebelum dan Sesudah Normalisasi -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Contoh Data Sebelum dan Sesudah Normalisasi</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Sebelum Normalisasi</th>
                        <th class="text-center">Sesudah Normalisasi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in comparison_samples_normalized %}
                    <tr>
                        <td>{{ sample["Sebelum"] }}</td>
                        <td>{{ sample["Sesudah"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr />
						<!-- Perbandingan Sebelum dan Sesudah Normalisasi -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Dampak Normalisasi</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Langkah</th>
                        <th>Jumlah Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sebelum Normalisasi</td>
                        <td>{{ data_count_cleaned }}</td>
                    </tr>
                    <tr>
                        <td>Setelah Normalisasi</td>
                        <td>{{ data_count_normalized }}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table-responsive">
							{{ data_description_normalized | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6 text-center">
								<!-- Visualisasi Distribusi Panjang Tweet Setelah Normalisasi -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Tweet Setelah Normalisasi
								</div>
								<img
									src="{{ chart_path_normalized }}"
									alt="Distribusi Panjang Tweet Setelah Normalisasi"
									class="img-fluid"
									draggable="false" />
							</div>
							<div class="col-12 col-lg-6 text-center">
								<!-- Visualisasi WordCloud Setelah Normalisasi -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tweet Setelah Normalisasi
								</div>
								<img
									src="{{ wordcloud_path_normalized }}"
									alt="WordCloud Tweet Setelah Normalisasi"
									class="img-fluid"
									draggable="false" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Eksplorasi Data
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_normalized }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i> &nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse Tokenisasi -->
			<div
				class="collapse"
				id="collapseCC">
				<div class="card">
					<h5 class="card-header">Tokenisasi Data</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
						<div class="row">
							<div class="col-12 col-md-6">
								<!-- Informasi Dataset -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Informasi Dataset
								</div>
								<ul class="list-group ms-3">
									<li><strong>Nama File Sebelum Tokenisasi:</strong> {{ preprocessing_files['Normalisasi'] }}</li>
									<li><strong>Nama File Setelah Tokenisasi:</strong> {{ preprocessing_files['Tokenisasi'] }}</li>
									<li>
										<strong>Dimensi Dataset:</strong> {{ data_shape_tokenized }}
									</li>
								</ul>
							</div>
							<div class="col-12 col-md-6">
								<div class="card-title fw-bold fs-5 text-primary mb-1">Metode Tokenisasi yang Digunakan</div>
								<ul class="list-group ms-3">
										<li>Memecah teks menjadi kata-kata menggunakan <code>word_tokenize()</code> dari NLTK</li>
										<li>Menggunakan metode tokenisasi berbasis aturan untuk menangani bahasa alami</li>
										<li>Memisahkan kata berdasarkan spasi dan tanda baca</li>
								</ul>
							</div>
						</div>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">
							{{ data_head_tokenized | safe }}
						</div>
						<hr>
						<!-- Contoh Sebelum dan Sesudah Tokenisasi -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">Contoh Data Sebelum dan Sesudah Tokenisasi</div>
						<table class="table table-striped">
								<thead>
										<tr>
												<th class="text-center">Sebelum Tokenisasi</th>
												<th class="text-center">Sesudah Tokenisasi</th>
										</tr>
								</thead>
								<tbody>
										{% for sample in comparison_samples_tokenized %}
										<tr>
												<td>{{ sample["Sebelum"] }}</td>
												<td>{{ sample["Sesudah"] }}</td>
										</tr>
										{% endfor %}
								</tbody>
						</table>
						<hr>
						<!-- Perbandingan Sebelum dan Sesudah Tokenisasi -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Dampak Tokenisasi</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Langkah</th>
                        <th>Jumlah Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sebelum Tokenisasi</td>
                        <td>{{ data_count_normalized }}</td>
                    </tr>
                    <tr>
                        <td>Setelah Tokenisasi</td>
                        <td>{{ data_count_tokenized }}</td>
                    </tr>
                </tbody>
            </table>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_tokenized | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang Tokenized Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Tokenized Tweet
								</div>
								<img
									src="{{ chart_path_tokenized }}"
									alt="Distribusi Panjang Tokenized Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud Tokenized Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tokenized Tweet
								</div>
								<img
									src="{{ wordcloud_path_tokenized }}"
									alt="WordCloud Tokenized Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_tokenized }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse No Stopwords -->
			<div
				class="collapse"
				id="collapseDD">
				<div class="card">
					<h5 class="card-header">Penghapusan Stopwords</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
            <div class="row">
							<!-- Informasi Dataset -->
							<div class="col-12 col-md-6">
									<div class="card-title fw-bold fs-5 text-primary mb-1">Informasi Dataset</div>
									<ul class="list-group ms-3">
											<li><strong>Nama File Sebelum:</strong> {{ preprocessing_files['Tokenisasi'] }}</li>
											<li><strong>Nama File Setelah:</strong> {{ preprocessing_files['No Stopwords'] }}</li>
											<li><strong>Dimensi Dataset:</strong> {{ data_shape_no_stopwords }}</li>
									</ul>
							</div>
							<!-- Metode Penghapusan Stopwords -->
							<div class="col-12 col-md-6">
									<div class="card-title fw-bold fs-5 text-primary mb-1">Metode Penghapusan Stopwords</div>
									<ul class="list-group ms-3">
											<li>Menggunakan daftar stopwords dari NLTK</li>
											<li>Menggunakan daftar stopwords tambahan secara manual</li>
											<li>Menggunakan stopwords dari file <code>stopwordbahasa.csv</code></li>
									</ul>
							</div>
            </div>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">
							{{ data_head_no_stopwords | safe }}
						</div>
						<hr />
            <!-- Contoh Sebelum dan Sesudah Penghapusan Stopwords -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Contoh Data Sebelum dan Sesudah Penghapusan Stopwords</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Sebelum Penghapusan Stopwords</th>
                        <th class="text-center">Sesudah Penghapusan Stopwords</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in comparison_samples_no_stopwords %}
                    <tr>
                        <td>{{ sample["Sebelum"] }}</td>
                        <td>{{ sample["Sesudah"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            <!-- Dampak Penghapusan Stopwords -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Dampak Penghapusan Stopwords</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Langkah</th>
                        <th>Jumlah Kata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sebelum Penghapusan Stopwords</td>
                        <td>{{ data_count_tokenized }}</td>
                    </tr>
                    <tr>
                        <td>Setelah Penghapusan Stopwords</td>
                        <td>{{ data_count_no_stopwords }}</td>
                    </tr>
                    <tr>
                        <td>Stopwords yang Dihapus</td>
                        <td>{{ total_no_stopwords }}</td>
                    </tr>
                </tbody>
            </table>
            <hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_no_stopwords | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang No Stopwords -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang No Stopwords Tweet
								</div>
								<img
									src="{{ chart_path_no_stopwords }}"
									alt="Distribusi Panjang No Stopwords Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud No Stopwords -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud No Stopwords Tweet
								</div>
								<img
									src="{{ wordcloud_path_no_stopwords }}"
									alt="WordCloud No Stopwords Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_no_stopwords }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse Stemming -->
			<div
				class="collapse"
				id="collapseEE">
				<div class="card">
					<h5 class="card-header">Stemming Data</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
            <div class="row">
							<!-- Informasi Dataset -->
							<div class="col-12 col-md-6">
								<div class="card-title fw-bold fs-5 text-primary mb-1">
										Informasi Dataset
								</div>
								<ul class="list-group ms-3">
										<li><strong>Nama File Sebelum Stemming:</strong> {{ preprocessing_files['No Stopwords'] }}</li>
										<li><strong>Nama File Setelah Stemming:</strong> {{ preprocessing_files['Stemming'] }}</li>
										<li><strong>Dimensi Dataset:</strong> {{ data_shape_stemmed }}</li>
								</ul>
							</div>
							<!-- Metode Stemming -->
							<div class="col-12 col-md-6">
								<div class="card-title fw-bold fs-5 text-primary mb-1">Metode Stemming yang Digunakan</div>
								<ul class="list-group ms-3">
										<li>Menggunakan <code>Sastrawi Stemmer</code> untuk mengubah kata ke bentuk dasar</li>
										<li>Proses dilakukan pada setiap token dalam kolom <code>Tokenized</code></li>
								</ul>
							</div>
            </div>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">
							{{ data_head_stemmed | safe }}
						</div>
						<hr />
            <!-- Contoh Sebelum dan Sesudah Stemming -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Contoh Data Sebelum dan Sesudah Stemming</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Sebelum Stemming</th>
                        <th class="text-center">Sesudah Stemming</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in comparison_samples_stemmed %}
                    <tr>
                        <td>{{ sample["Sebelum"] }}</td>
                        <td>{{ sample["Sesudah"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
						<p class="text-muted">
							Pada tahap stemming, tidak terdapat perubahan kata yang signifikan karena kata-kata dalam dataset sudah berada dalam bentuk dasar.
						</p>
            <hr>
            <!-- Dampak Stemming -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Dampak Stemming</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Langkah</th>
                        <th>Jumlah Kata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sebelum Stemming</td>
                        <td>{{ data_count_no_stopwords }}</td>
                    </tr>
                    <tr>
                        <td>Setelah Stemming</td>
                        <td>{{ data_count_stemmed }}</td>
                    </tr>
                    <tr>
                        <td>Kata yang Berubah</td>
                        <td>{{ total_stemmed }}</td>
                    </tr>
                </tbody>
            </table>
						<p class="text-muted">
							Hasil stemming menunjukkan bahwa jumlah kata dalam dataset tetap sama, menunjukkan bahwa kata-kata telah berada dalam bentuk dasar sejak tahap sebelumnya.
						</p>
            <hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_stemmed | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang Stemmed Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Stemmed Tweet
								</div>
								<img
									src="{{ chart_path_stemmed }}"
									alt="Distribusi Panjang Stemmed Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud Stemmed Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Stemmed Tweet
								</div>
								<img
									src="{{ wordcloud_path_stemmed }}"
									alt="WordCloud Stemmed Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_stemmed }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse Label Encoding -->
			<div
				class="collapse"
				id="collapseFF">
				<div class="card">
					<h5 class="card-header">Label Encoding</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
						<div class="row">
							<!-- Informasi Dataset -->
                <div class="col-12 col-md-6">
                    <div class="card-title fw-bold fs-5 text-primary mb-1">
                        Informasi Dataset
                    </div>
                    <ul class="list-group ms-3">
                        <li><strong>Nama File Sebelum Encoding:</strong> {{ preprocessing_files['Stemming'] }}</li>
                        <li><strong>Nama File Setelah Encoding:</strong> {{ preprocessing_files['Label Encoding'] }}</li>
                        <li><strong>Dimensi Dataset:</strong> {{ data_shape_encoded }}</li>
                    </ul>
                </div>
								<!-- Metode Label Encoding -->
                <div class="col-12 col-md-6">
                    <div class="card-title fw-bold fs-5 text-primary mb-1">Metode Label Encoding</div>
                    <ul class="list-group ms-3">
                        <li>Konversi kategori sentimen ke format numerik</li>
                        <li>Mapping sentimen:</li>
                    </ul>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sentimen</th>
                                <th>Label Encoding</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Positif</td><td>1</td></tr>
                            <tr><td>Netral</td><td>0</td></tr>
                            <tr><td>Negatif</td><td>-1</td></tr>
                        </tbody>
                    </table>
                </div>
						</div>
						<hr />
						<!-- Contoh Sebelum & Sesudah Encoding -->
            <div class="card-title fw-bold fs-5 text-primary mb-1">Contoh Sebelum & Sesudah Label Encoding</div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Tweet</th>
                        <th class="text-center">Sentimen</th>
                        <th class="text-center">Label_Encoded</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sample in comparison_samples_encoded %}
                    <tr>
                        <td>{{ sample["Tweet"] }}</td>
                        <td>{{ sample["Sentimen"] }}</td>
                        <td>{{ sample["Encoded"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
						<hr>
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">
							{{ data_head_encoded | safe }}
						</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_encoded | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12">
								<!-- Distribusi Label Sentimen -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">Distribusi Label Sentimen</div>
								<ul>
									<li>-1 (Negatif): {{ sentiment_encoded[-1] }}</li>
									<li>0 (Netral): {{ sentiment_encoded[0] }}</li>
									<li>1 (Positif): {{ sentiment_encoded[1] }}</li>
								</ul>
							
								<img
									src="{{ chart_path_encoded }}"
									alt="Distribusi Label Encoding"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_encoded }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<!-- Collapse Pembagian -->
			<div
				class="collapse"
				id="collapseGG">
				<div class="card">
					<h5 class="card-header">Pembagian Data</h5>
					<div class="card-body">
						{% if all(preprocessing_status.values()) %}
						<!-- Informasi Dataset -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Informasi Dataset
						</div>
						<ul class="list-group ms-3">
							<li>
								<strong>Nama File Data Train:</strong> {{ train_file }}
							</li>
							<li>
								<strong>Nama File Data Test:</strong> {{ test_file }}
							</li>
							<li>
								<strong>Dimensi Dataset:</strong> {{ data_shape_train }}
							</li>
							<li>
								<strong>Dimensi Dataset:</strong> {{ data_shape_test }}
							</li>
						</ul>
						<hr />
						<!-- Distribusi Label Sentimen Train & Test -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">Distribusi Label Sentimen</div>
						<div class="row">
								<div class="col-12 col-md-6">
										<div class="card-title fw-bold fs-6 text-secondary mb-1">Distribusi Sentimen dalam Data Train</div>
										<ul>
												{% for item in train_label_split %}
												<li>{{ item }}</li>
												{% endfor %}
										</ul>
								</div>

								<div class="col-12 col-md-6">
										<div class="card-title fw-bold fs-6 text-secondary mb-1">Distribusi Sentimen dalam Data Test</div>
										<ul>
												{% for item in test_label_split %}
												<li>{{ item }}</li>
												{% endfor %}
										</ul>
								</div>
						</div>
						<hr />

						<!-- Tabel Perbandingan Sebelum & Sesudah Pembagian -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">Perbandingan Sebelum & Sesudah Pembagian Data</div>
						<div class="table-responsive">
								{{ comparison_split | safe }}
						</div>
						<hr />

						<!-- Diagram Distribusi Sentimen Train & Test -->
						<div class="row">
								<div class="col-12 col-lg-6">
										<div class="card-title fw-bold fs-6 text-secondary mb-1">Distribusi Sentimen dalam Data Train</div>
										<img src="{{ chart_train_split }}" alt="Distribusi Sentimen Train" class="img-fluid" draggable="false" />
								</div>
								<div class="col-12 col-lg-6">
										<div class="card-title fw-bold fs-6 text-secondary mb-1">Distribusi Sentimen dalam Data Test</div>
										<img src="{{ chart_test_split }}" alt="Distribusi Sentimen Test" class="img-fluid" draggable="false" />
								</div>
						</div>
						<hr />

						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas Data Train & Test
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="table table-responsive">
									<span>Data Train</span>
									{{ data_head_train | safe }}
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="table table-responsive">
									<span>Data Test</span>
									{{ data_head_test | safe }}
								</div>
							</div>
						</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif Data Train & Test
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="table table-responsive">
									<span>Data Train</span>
									{{ data_description_train | safe }}
								</div>
							</div>
							<div class="col-12 col-md-6">
								<div class="table table-responsive">
									<span>Data Test</span>
									{{ data_description_test | safe }}
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="col-12">
								<!-- Visualisasi Distribusi Pembagian -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Data Train & Test
								</div>
								<ul>
									{% for item in data_distribution_split %}
										<li>{{ item }}</li>
									{% endfor %}
								</ul>
								<img
									src="{{ chart_path_split }}"
									alt="Distribusi Pembagian"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_train }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data Train
										</a>
										<a
											href="{{ download_link_test }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data Test
										</a>
									</div>
								</div>
							</div>
						</div>
						{% else %}
						<p class="text-muted">Belum melakukan pra-pemrosesan data.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document
		.getElementById('start-preprocessing')
		.addEventListener('click', function () {
			console.log("🛠 Tombol diklik, mulai preprocessing...");
			this.disabled = true;
			this.innerHTML = '<i class="bx bx-loader bx-spin"></i> Proses...';

			fetch("{{ url_for('start_preprocessing') }}", { method: 'POST' })
				.then((response) => response.json())
				.then((data) => {
					if (data.success) {
						console.log("✅ Preprocessing berhasil, reload halaman...");
						location.reload();
					} else {
						console.error("❌ Terjadi kesalahan dalam pra-pemrosesan.");
						alert('Terjadi kesalahan dalam pra-pemrosesan.');
					}
				})
				.catch(error => console.error("⚠️ Error fetch: ", error));
		});
</script>
{% endblock %}
