{% extends 'base.html' %} {% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
	<div class="fw-bold mb-4">
		<span class="text-muted fw-light">DataCraft / </span>
		<span class="color-custom-secondary">{{ title }}</span>
	</div>

	<!-- Flash Messages -->
	{% with messages = get_flashed_messages(with_categories=true) %} {% if
	messages %} {% for category, message in messages %}
	<div
		class="alert alert-{{ category }} alert-dismissible fade show"
		role="alert">
		{{ message }}
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"></button>
	</div>
	{% endfor %} {% endif %} {% endwith %} {% if not
	all(preprocessing_status.values()) %}
	<!-- Tombol Mulai Pra-Pemrosesan -->
	<div
		class="alert alert-primary d-flex justify-content-between align-items-center"
		role="alert">
		<div>
			<i class="bx bx-cog bx-spin flex-shrink-0 me-1"></i>
			<span class="fw-bold">Pra-Pemrosesan Data</span>
		</div>
		<button
			id="start-preprocessing"
			class="btn btn-primary btn-sm ms-auto"
			{%
			if
			not
			dataset_uploaded
			%}disabled{%
			endif
			%}>
			Mulai
		</button>
	</div>
	{% endif %}

	<!-- Card Step -->
	<div class="row">
		<div class="col-12">
			<div class="container p-0 mb-4">
				<div class="flow-container">
					<div class="flow-row">
						<!-- Card Pembersihan -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}"
							id="cardAA"
							data-bs-toggle="collapse"
							data-bs-target="#collapseAA"
							aria-expanded="false"
							aria-controls="collapseAA">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Pembersihan'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Pembersihan</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Pembersihan'] if
									preprocessing_status['Pembersihan'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Pembersihan'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Pembersihan']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Normalisasi -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}"
							id="cardBB"
							data-bs-toggle="collapse"
							data-bs-target="#collapseBB"
							aria-expanded="false"
							aria-controls="collapseBB">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Normalisasi'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Normalisasi</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Normalisasi'] if
									preprocessing_status['Normalisasi'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Normalisasi'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Normalisasi']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Tokenisasi -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}"
							id="cardCC"
							data-bs-toggle="collapse"
							data-bs-target="#collapseCC"
							aria-expanded="false"
							aria-controls="collapseCC">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Tokenisasi'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Tokenisasi</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Tokenisasi'] if
									preprocessing_status['Tokenisasi'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Tokenisasi'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Tokenisasi']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card No Stopwords -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}"
							id="cardDD"
							data-bs-toggle="collapse"
							data-bs-target="#collapseDD"
							aria-expanded="false"
							aria-controls="collapseDD">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['No Stopwords'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">No Stopwords</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['No Stopwords'] if
									preprocessing_status['No Stopwords'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['No Stopwords'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['No Stopwords']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>
					</div>
					<!-- Vertical Connector -->
					<div class="vertical-connector">
						<svg
							width="100%"
							height="100%">
							<line
								x1="50%"
								y1="0"
								x2="50%"
								y2="100%" />
						</svg>
						<i class="bx bx-down-arrow-alt bx-md arrow-icon"></i>
					</div>
					<div class="flow-row">
						<!-- Card Stemming -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Stemming'] else 'danger' }}"
							id="cardEE"
							data-bs-toggle="collapse"
							data-bs-target="#collapseEE"
							aria-expanded="false"
							aria-controls="collapseEE">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Stemming'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Stemming'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Stemming</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Stemming'] if
									preprocessing_status['Stemming'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Stemming'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Stemming'] else
									'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Label Encoding -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}"
							id="cardFF"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFF"
							aria-expanded="false"
							aria-controls="collapseFF">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Label Encoding'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Label Encoding</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Label Encoding'] if
									preprocessing_status['Label Encoding'] else "Tidak ada file"
									}}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Label Encoding'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Label Encoding']
									else 'Belum dilakukan' }}
								</span>
							</div>
						</div>

						<!-- Connector -->
						<div class="connector">
							<svg
								width="100%"
								height="100%">
								<line
									id="connectingLine1"
									x1="0"
									y1="50%"
									x2="100%"
									y2="50%" />
							</svg>
							<i class="bx bx-right-arrow-alt bx-md arrow-icon"></i>
						</div>

						<!-- Card Pembagian -->
						<div
							class="card step collapsed {{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}"
							id="cardGG"
							data-bs-toggle="collapse"
							data-bs-target="#collapseGG"
							aria-expanded="false"
							aria-controls="collapseGG">
							<div class="card-body text-center">
								<div
									class="avatar flex-shrink-0 {{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}">
									<i
										class="bx {{ 'bx-check-circle success' if preprocessing_status['Pembagian'] else 'bx-x-circle danger' }}"></i>
								</div>
								<h3 class="card-title">Pembagian</h3>
								<p class="card-text text-muted">
									{{ preprocessing_files['Pembagian'] if
									preprocessing_status['Pembagian'] else "Tidak ada file" }}
								</p>
								<span
									class="badge bg-{{ 'success' if preprocessing_status['Pembagian'] else 'danger' }}">
									{{ 'Sudah dilakukan' if preprocessing_status['Pembagian'] else
									'Belum dilakukan' }}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Progress Pra-Pemrosesan -->
	<div class="row">
		<div class="col-12 order-0">
			<!-- Collapse Pembersihan -->
			<div
				class="collapse"
				id="collapseAA">
				<div class="card">
					<h5 class="card-header">Pembersihan Data</h5>
					<div class="card-body">
						<!-- Informasi Dataset -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Informasi Dataset
						</div>
						<ul class="list-group ms-3">
							<li>
								<strong>Nama File:</strong> {{
								preprocessing_files['Pembersihan'] }}
							</li>
							<li><strong>Dimensi Dataset:</strong> {{ data_shape }}</li>
							<li><strong>Jumlah Duplikat:</strong> {{ duplicate_count }}</li>
							<li><strong>Jumlah Nilai Kosong:</strong> {{ null_count }}</li>
						</ul>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">{{ data_head | safe }}</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Cleaned Tweet
								</div>
								<img
									src="{{ chart_path }}"
									alt="Distribusi Panjang Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tweet
								</div>
								<img
									src="{{ wordcloud_path }}"
									alt="WordCloud Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Eksplorasi Data
										</a>
									</div>
									<div>
										<a
											href="{{ download_link }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Collapse Normalisasi -->
			<div
				class="collapse"
				id="collapseBB">
				<div class="card">
					<h5 class="card-header">Normalisasi Data</h5>
					<div class="card-body">
						<!-- Informasi Dataset -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Informasi Dataset
						</div>
						<ul class="list-group ms-3">
							<li>
								<strong>Nama File:</strong> {{
								preprocessing_files['Normalisasi'] }}
							</li>
							<li>
								<strong>Dimensi Dataset:</strong> {{ data_shape_normalized }}
							</li>
						</ul>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table-responsive">
							{{ data_head_normalized | safe }}
						</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table-responsive">
							{{ data_description_normalized | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang Tweet Setelah Normalisasi -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Tweet Setelah Normalisasi
								</div>
								<img
									src="{{ chart_path_normalized }}"
									alt="Distribusi Panjang Tweet Setelah Normalisasi"
									class="img-fluid"
									draggable="false" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud Setelah Normalisasi -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tweet Setelah Normalisasi
								</div>
								<img
									src="{{ wordcloud_path_normalized }}"
									alt="WordCloud Tweet Setelah Normalisasi"
									class="img-fluid"
									draggable="false" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Eksplorasi Data
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_normalized }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i> &nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Collapse Tokenisasi -->
			<div
				class="collapse"
				id="collapseCC">
				<div class="card">
					<h5 class="card-header">Tokenisasi Data</h5>
					<div class="card-body">
						<!-- Informasi Dataset -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Informasi Dataset
						</div>
						<ul class="list-group ms-3">
							<li>
								<strong>Nama File:</strong> {{ preprocessing_files['Tokenisasi']
								}}
							</li>
							<li>
								<strong>Dimensi Dataset:</strong> {{ data_shape_tokenized }}
							</li>
						</ul>
						<hr />
						<!-- Menampilkan Data -->
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							5 Data Teratas
						</div>
						<div class="table table-responsive">
							{{ data_head_tokenized | safe }}
						</div>
						<hr />
						<div class="card-title fw-bold fs-5 text-primary mb-1">
							Statistik Deskriptif
						</div>
						<div class="table table-responsive">
							{{ data_description_tokenized | safe }}
						</div>
						<hr />
						<div class="row">
							<div class="col-12 col-lg-6">
								<!-- Visualisasi Distribusi Panjang Tokenized Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									Distribusi Panjang Tokenized Tweet
								</div>
								<img
									src="{{ chart_path_tokenized }}"
									alt="Distribusi Panjang Tokenized Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
							<div class="col-12 col-lg-6">
								<!-- Visualisasi WordCloud Tokenized Tweet -->
								<div class="card-title fw-bold fs-5 text-primary mb-1">
									WordCloud Tokenized Tweet
								</div>
								<img
									src="{{ wordcloud_path_tokenized }}"
									alt="WordCloud Tokenized Tweet"
									class="img-fluid"
									draggable="false"
									height="200" />
							</div>
						</div>
						<hr />
						<!-- Download dan Navigasi -->
						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between align-items-center">
									<div>
										<a
											href="{{ url_for('data_exploration') }}"
											class="btn btn-info btn-sm">
											<i class="bx bx-data"></i>
											&nbsp; Data Eksplorasi
										</a>
									</div>
									<div>
										<a
											href="{{ download_link_tokenized }}"
											class="btn btn-success btn-sm"
											download>
											<i class="bx bx-download"></i>
											&nbsp; Unduh Data
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document
		.getElementById('start-preprocessing')
		.addEventListener('click', function () {
			this.disabled = true;
			this.innerHTML = '<i class="bx bx-loader bx-spin"></i> Proses...';

			fetch("{{ url_for('start_preprocessing') }}", { method: 'POST' })
				.then((response) => response.json())
				.then((data) => {
					if (data.success) {
						location.reload();
					} else {
						alert('Terjadi kesalahan dalam pra-pemrosesan.');
					}
				});
		});
</script>
{% endblock %}
